*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.color {
  color: white;
  text-decoration: none;
}

.hover-item:hover{
  color: #ffefba;
  border-bottom: 2px solid #ffefba;
}

.center-text{
  text-align: center;
}